In [ ]:
#Import necessary libraries
import pandas as pd
from itertools import permutations

In [ ]:
#To generate all possible move sequences as strings of integers
#Even positions on the strings i.e. 0, 2, 4, 6, 8 are player 1's moves whereas odd positions i.e. 1, 3, 5, 7 are player 2's moves
#The actual numbers on the strings are positions on the board, where the top left is 1 and bottom right is 9
#  1 | 2 | 3
#  - + - + -
#  4 | 5 | 6
#  - + - + -
#  7 | 8 | 9
move_data = pd.DataFrame()
sequence_string = ""

possibilities = permutations(['1', '2', '3', '4', '5', '6', '7', '8', '9'])
for possibility in possibilities:
    for character in possibility:
        sequence_string = sequence_string + character
    
    new_row = pd.Series([sequence_string])
    move_data = move_data.append(new_row, ignore_index = True)
    sequence_string = ""

In [ ]:
move_data

                0
0       123456789
1       123456798
2       123456879
3       123456897
4       123456978
...           ...
362875  987654132
362876  987654213
362877  987654231
362878  987654312
362879  987654321

[362880 rows x 1 columns]

In [ ]:
#To extract specific information about the order of moves for later use
move_data["Move1"]=move_data[0].str[0]
move_data["Move2"]=move_data[0].str[1]
move_data["Move3"]=move_data[0].str[2]
move_data["Move4"]=move_data[0].str[3]
move_data["Move5"]=move_data[0].str[4]
move_data["Move6"]=move_data[0].str[5]
move_data["Move7"]=move_data[0].str[6]
move_data["Move8"]=move_data[0].str[7]
move_data["Move9"]=move_data[0].str[8]

In [ ]:
#To generate three-move sequences to test for wins
move_data["Seq1"]=move_data["Move1"]+move_data["Move3"]+move_data["Move5"]
move_data["Seq2"]=move_data["Move2"]+move_data["Move4"]+move_data["Move6"]
move_data["Seq3"]=move_data["Move1"]+move_data["Move3"]+move_data["Move7"]
move_data["Seq4"]=move_data["Move1"]+move_data["Move5"]+move_data["Move7"]
move_data["Seq5"]=move_data["Move3"]+move_data["Move5"]+move_data["Move7"]
move_data["Seq6"]=move_data["Move2"]+move_data["Move4"]+move_data["Move8"]
move_data["Seq7"]=move_data["Move2"]+move_data["Move6"]+move_data["Move8"]
move_data["Seq8"]=move_data["Move4"]+move_data["Move6"]+move_data["Move8"]
move_data["Seq9"]=move_data["Move1"]+move_data["Move3"]+move_data["Move9"]
move_data["Seq10"]=move_data["Move1"]+move_data["Move5"]+move_data["Move9"]
move_data["Seq11"]=move_data["Move1"]+move_data["Move7"]+move_data["Move9"]
move_data["Seq12"]=move_data["Move3"]+move_data["Move5"]+move_data["Move9"]
move_data["Seq13"]=move_data["Move3"]+move_data["Move7"]+move_data["Move9"]
move_data["Seq14"]=move_data["Move5"]+move_data["Move7"]+move_data["Move9"]

In [ ]:
#Generates all permutations of winning sequences in form of integer strings
per1 = permutations(['1', '2', '3'])
per2 = permutations(['4', '5', '6'])
per3 = permutations(['7', '8', '9'])
per4 = permutations(['1', '4', '7'])
per5 = permutations(['2', '5', '8'])
per6 = permutations(['3', '6', '9'])
per7 = permutations(['1', '5', '9'])
per8 = permutations(['3', '5', '7'])

per_list = [per1, per2, per3, per4, per5, per6, per7, per8]
combo_wins = []
combo_string = ""

for per in per_list:
    for sub_per in per:
        for charcter in sub_per:
            combo_string = combo_string + charcter
        combo_wins.append(combo_string)
        combo_string = ""

In [ ]:
#Checks for wins at particular instances
def three_in_a_row_checker(x):
    if x in combo_wins:
        return 1
    else:
        return 0

move_data["Win1"] = move_data["Seq1"].map(three_in_a_row_checker)
move_data["Win2"] = move_data["Seq2"].map(three_in_a_row_checker)
move_data["Win3"] = move_data["Seq3"].map(three_in_a_row_checker)
move_data["Win4"] = move_data["Seq4"].map(three_in_a_row_checker)
move_data["Win5"] = move_data["Seq5"].map(three_in_a_row_checker)
move_data["Win6"] = move_data["Seq6"].map(three_in_a_row_checker)
move_data["Win7"] = move_data["Seq7"].map(three_in_a_row_checker)
move_data["Win8"] = move_data["Seq8"].map(three_in_a_row_checker)
move_data["Win9"] = move_data["Seq9"].map(three_in_a_row_checker)
move_data["Win10"] = move_data["Seq10"].map(three_in_a_row_checker)
move_data["Win11"] = move_data["Seq11"].map(three_in_a_row_checker)
move_data["Win12"] = move_data["Seq12"].map(three_in_a_row_checker)
move_data["Win13"] = move_data["Seq13"].map(three_in_a_row_checker)
move_data["Win14"] = move_data["Seq14"].map(three_in_a_row_checker)

In [ ]:
#Summarizes info at particular moves
#For example, "Sum1" checks for wins at move 5
#If "Sum1" >= 1, then three of player 1's symbols are in a row
#Mathematically, "Sum1" cannot be equal to "Sum3" and "Sum2" cannot be equal to "Sum4"
move_data["Sum1"] = move_data["Win1"]
move_data["Sum2"] = move_data["Win2"]
move_data["Sum3"] = move_data["Win3"]+move_data["Win4"]+move_data["Win5"]
move_data["Sum4"] = move_data["Win6"]+move_data["Win7"]+move_data["Win8"]
move_data["Sum5"] = move_data["Win9"]+move_data["Win10"]+move_data["Win11"]+move_data["Win12"]+move_data["Win13"]+move_data["Win14"]

In [ ]:
#"Sum5" can yield 2 as there may be two three-in-a-rows simultaneously.
#For example 123457689
#  X | O | X
#  - + - + -
#  O | X | X
#  - + - + -
#  O | O | X
move_data["Sum5"].unique()

array([1, 0, 2], dtype=int64)

In [ ]:
#This function resolves this issue
#Returns 1 when x == 2 as we are only interested in the existence of three-in-a-rows
def remove_doubles(x):
    if x == 2:
        return 1
    else:
        return x

In [ ]:
move_data["Sum5"] = move_data["Sum5"].map(remove_doubles)
move_data["Sum5"].value_counts()

1    194688
0    168192
Name: Sum5, dtype: int64

In [ ]:
#First function to check for illegal games
#An illegal game is one that continues after a win
#For example, player 1 wins on move 5 or 7 but continues and wins again at move 9
def two_win_checker(x, y, z):
    if x + z == 2:
        z = 0
    elif y + z == 2:
        z = 0
    return z

In [ ]:
move_data["Sum5"] = list(map(two_win_checker, move_data["Sum1"], move_data["Sum3"], move_data["Sum5"]))
move_data["Sum5"].unique()

array([0, 1], dtype=int64)

In [ ]:
#TempSumXAndY - Temporary columns to store sums of "SumX" and "SumY"
#If TempSumXAndY = 2, then there is an illegal game
move_data["TempSum1And5"] = move_data["Sum1"]+move_data["Sum5"]
move_data["TempSum1And5"].value_counts()

0    184320
1    178560
Name: TempSum1And5, dtype: int64

In [ ]:
move_data["TempSum3And5"] = move_data["Sum3"] + move_data["Sum5"]
move_data["TempSum3And5"].value_counts()

1    247680
0    115200
Name: TempSum3And5, dtype: int64

In [ ]:
#Another function to check for illegal games
def mod_2win_chkr(x, y):
    if x + y == 2:
        y = 0
    return y

In [ ]:
move_data["Sum2"] = list(map(mod_2win_chkr, move_data["Sum1"], move_data["Sum2"]))

In [ ]:
move_data["TempSum1And2"] = move_data["Sum1"] + move_data["Sum2"]
move_data["TempSum1And2"].value_counts()

0    296352
1     66528
Name: TempSum1And2, dtype: int64

In [ ]:
move_data["Sum4"] = list(map(mod_2win_chkr, move_data["Sum1"], move_data["Sum4"]))

In [ ]:
move_data["TempSum1And4"] = move_data["Sum1"]+move_data["Sum4"]
move_data["TempSum1And4"].value_counts()

0    232416
1    130464
Name: TempSum1And4, dtype: int64

In [ ]:
move_data["Sum3"] = list(map(mod_2win_chkr, move_data["Sum2"], move_data["Sum3"]))

In [ ]:
move_data["TempSum2And3"] = move_data["Sum2"]+move_data["Sum3"]
move_data["TempSum2And3"].value_counts()

0    235008
1    127872
Name: TempSum2And3, dtype: int64

In [ ]:
move_data["Sum5"] = list(map(mod_2win_chkr, move_data["Sum2"], move_data["Sum5"]))

In [ ]:
move_data["TempSum2And5"] = move_data["Sum2"]+move_data["Sum5"]
move_data["TempSum2And5"].value_counts()

0    202464
1    160416
Name: TempSum2And5, dtype: int64

In [ ]:
move_data["Sum4"] = list(map(mod_2win_chkr, move_data["Sum3"], move_data["Sum4"]))

In [ ]:
move_data["TempSum3And4"] = move_data["Sum3"]+move_data["Sum4"]
move_data["TempSum3And4"].value_counts()

0    194400
1    168480
Name: TempSum3And4, dtype: int64

In [ ]:
move_data["Sum5"] = list(map(mod_2win_chkr, move_data["Sum4"], move_data["Sum5"]))

In [ ]:
move_data["TempSum4And5"] = move_data["Sum4"]+move_data["Sum5"]
move_data["TempSum4And5"].value_counts()

0    208512
1    154368
Name: TempSum4And5, dtype: int64

In [ ]:
#Aggregate sum
#Must be either 1 or 0
#If equal to 2, then there is an illegal game
move_data["Agg"] = move_data["Sum1"] + move_data["Sum2"] + move_data["Sum3"] + move_data["Sum4"] + move_data["Sum5"]

In [ ]:
move_data["Agg"].value_counts()

1    316800
0     46080
Name: Agg, dtype: int64

In [ ]:
move_data["First5"] = move_data[0].str[0:5]
move_data["First6"] = move_data[0].str[0:6]
move_data["First7"] = move_data[0].str[0:7]
move_data["First8"] = move_data[0].str[0:8]

In [ ]:
#Splitting dataframe to remove duplicate games
p1 = move_data[move_data["Sum1"] == 1].drop_duplicates(subset = ["First5"])
p2 = move_data[move_data["Sum2"] == 1].drop_duplicates(subset = ["First6"])
p3 = move_data[move_data["Sum3"] == 1].drop_duplicates(subset = ["First7"])
p4 = move_data[move_data["Sum4"] == 1].drop_duplicates(subset = ["First8"])
p5 = move_data[move_data["Sum5"] == 1]
p6 = move_data[move_data["Agg"] == 0]

In [ ]:
#Creating new dataframe to store the data
move_data_refined = p1
move_data_refined = move_data_refined.append(p2)
move_data_refined = move_data_refined.append(p3)
move_data_refined = move_data_refined.append(p4)
move_data_refined = move_data_refined.append(p5)
move_data_refined = move_data_refined.append(p6)

In [ ]:
move_data_refined

,0,Move1,Move2,Move3,Move4,Move5,Move6,Move7,Move8,Move9,...,TempSum1And4,TempSum2And3,TempSum2And5,TempSum3And4,TempSum4And5,Agg,First5,First6,First7,First8
768,124375689,1,2,4,3,7,5,6,8,9,...,1,0,0,0,0,1,12437,124375,1243756,12437568
888,124573689,1,2,4,5,7,3,6,8,9,...,1,0,0,0,0,1,12457,124573,1245736,12457368
1008,124673589,1,2,4,6,7,3,5,8,9,...,1,0,0,0,0,1,12467,124673,1246735,12467358
1272,124873569,1,2,4,8,7,3,5,6,9,...,1,0,0,0,0,1,12487,124873,1248735,12487356
1392,124973568,1,2,4,9,7,3,5,6,8,...,1,0,0,0,0,1,12497,124973,1249735,12497356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362854,987645312,9,8,7,6,4,5,3,1,2,...,0,0,0,0,0,0,98764,987645,9876453,98764531
362856,987651234,9,8,7,6,5,1,2,3,4,...,0,0,0,0,0,0,98765,987651,9876512,98765123
362861,987651432,9,8,7,6,5,1,4,3,2,...,0,0,0,0,0,0,98765,987651,9876514,98765143
362870,987653214,9,8,7,6,5,3,2,1,4,...,0,0,0,0,0,0,98765,987653,9876532,98765321
362872,987653412,9,8,7,6,5,3,4,1,2,...,0,0,0,0,0,0,98765,987653,9876534,98765341

In [ ]:
#Dropping unnecessary columns
move_data_refined = move_data_refined.drop(["First5", "First6", "First7", "First8"], axis = 1)
move_data_refined = move_data_refined.drop(["TempSum1And5", "TempSum3And5", "TempSum1And2", "TempSum1And4", "TempSum2And3", "TempSum3And4", "TempSum4And5", "TempSum2And5"], axis = 1)
move_data_refined = move_data_refined.drop(["Win1", "Win2", "Win3", "Win4", "Win5", "Win6", "Win7", "Win8", "Win9", "Win10", "Win11", "Win12", "Win13", "Win14"], axis = 1)
move_data_refined = move_data_refined.drop(["Seq1", "Seq2", "Seq3", "Seq4", "Seq5", "Seq6", "Seq7", "Seq8", "Seq9", "Seq10", "Seq11", "Seq12", "Seq13", "Seq14"], axis = 1)

In [ ]:
#P1 - player 1
#P2 - player 2
#if either is equal to 1, then that player has won
move_data_refined["P1"] = move_data_refined["Sum1"] + move_data_refined["Sum3"] + move_data_refined["Sum5"]
move_data_refined["P2"] = move_data_refined["Sum2"] + move_data_refined["Sum4"]

In [ ]:
#Checks for winner
#1 -player 1 wins
#-1 - player 2 wins
#0 - draw
def winner(x, y):
    if x == 1 and y == 0:
        return 1
    elif x == 0 and y == 1:
        return -1
    elif x == 0 and y == 0:
        return 0

In [ ]:
#Column to summarize game outcome
#Theoretical values are 131184, 77904 and 46080
move_data_refined["Winner"] = list(map(winner, move_data_refined["P1"], move_data_refined["P2"]))
move_data_refined["Winner"].value_counts()

 1    131184
-1     77904
 0     46080
Name: Winner, dtype: int64

In [ ]:
#Renaming column
move_data_refined.rename(columns = {0: "Sequence"}, inplace = True)

In [ ]:
move_data_refined

,Sequence,Move1,Move2,Move3,Move4,Move5,Move6,Move7,Move8,Move9,Sum1,Sum2,Sum3,Sum4,Sum5,Agg,P1,P2,Winner
768,124375689,1,2,4,3,7,5,6,8,9,1,0,0,0,0,1,1,0,1
888,124573689,1,2,4,5,7,3,6,8,9,1,0,0,0,0,1,1,0,1
1008,124673589,1,2,4,6,7,3,5,8,9,1,0,0,0,0,1,1,0,1
1272,124873569,1,2,4,8,7,3,5,6,9,1,0,0,0,0,1,1,0,1
1392,124973568,1,2,4,9,7,3,5,6,8,1,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362854,987645312,9,8,7,6,4,5,3,1,2,0,0,0,0,0,0,0,0,0
362856,987651234,9,8,7,6,5,1,2,3,4,0,0,0,0,0,0,0,0,0
362861,987651432,9,8,7,6,5,1,4,3,2,0,0,0,0,0,0,0,0,0
362870,987653214,9,8,7,6,5,3,2,1,4,0,0,0,0,0,0,0,0,0
362872,987653412,9,8,7,6,5,3,4,1,2,0,0,0,0,0,0,0,0,0

In [ ]:
#Replacing illegal moves with zeros
#That is, if a game is won after 5 moves, the remaining part of the sequence will be filled with zeros
def seq_modifier5(val, num):
    if num == 1:
        val = val[0:5] + "0000"
    return val

def seq_modifier6(val, num):
    if num == 1:
        val = val[0:6] + "000"
    return val

def seq_modifier7(val, num):
    if num == 1:
        val = val[0:7] + "00"
    return val

def seq_modifier8(val, num):
    if num == 1:
        val = val[0:8] + "0"
    return val

In [ ]:
#Applying function
move_data_refined["Sequence"] = list(map(seq_modifier5, move_data_refined["Sequence"], move_data_refined["Sum1"]))
move_data_refined["Sequence"] = list(map(seq_modifier6, move_data_refined["Sequence"], move_data_refined["Sum2"]))
move_data_refined["Sequence"] = list(map(seq_modifier7, move_data_refined["Sequence"], move_data_refined["Sum3"]))
move_data_refined["Sequence"] = list(map(seq_modifier8, move_data_refined["Sequence"], move_data_refined["Sum4"]))
move_data_refined

,Sequence,Move1,Move2,Move3,Move4,Move5,Move6,Move7,Move8,Move9,Sum1,Sum2,Sum3,Sum4,Sum5,Agg,P1,P2,Winner
768,124370000,1,2,4,3,7,5,6,8,9,1,0,0,0,0,1,1,0,1
888,124570000,1,2,4,5,7,3,6,8,9,1,0,0,0,0,1,1,0,1
1008,124670000,1,2,4,6,7,3,5,8,9,1,0,0,0,0,1,1,0,1
1272,124870000,1,2,4,8,7,3,5,6,9,1,0,0,0,0,1,1,0,1
1392,124970000,1,2,4,9,7,3,5,6,8,1,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362854,987645312,9,8,7,6,4,5,3,1,2,0,0,0,0,0,0,0,0,0
362856,987651234,9,8,7,6,5,1,2,3,4,0,0,0,0,0,0,0,0,0
362861,987651432,9,8,7,6,5,1,4,3,2,0,0,0,0,0,0,0,0,0
362870,987653214,9,8,7,6,5,3,2,1,4,0,0,0,0,0,0,0,0,0
362872,987653412,9,8,7,6,5,3,4,1,2,0,0,0,0,0,0,0,0,0

In [ ]:
#Sorting the dataframe one last time
move_data_refined = move_data_refined.sort_values(by = ["Sequence"], ignore_index = True)
move_data_refined

,Sequence,Move1,Move2,Move3,Move4,Move5,Move6,Move7,Move8,Move9,Sum1,Sum2,Sum3,Sum4,Sum5,Agg,P1,P2,Winner
0,123456700,1,2,3,4,5,6,7,8,9,0,0,1,0,0,1,1,0,1
1,123456879,1,2,3,4,5,6,8,7,9,0,0,0,0,1,1,1,0,1
2,123456897,1,2,3,4,5,6,8,9,7,0,0,0,0,1,1,1,0,1
3,123456900,1,2,3,4,5,6,9,7,8,0,0,1,0,0,1,1,0,1
4,123457689,1,2,3,4,5,7,6,8,9,0,0,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255163,987653421,9,8,7,6,5,3,4,2,1,0,0,0,0,1,1,1,0,1
255164,987654100,9,8,7,6,5,4,1,2,3,0,0,1,0,0,1,1,0,1
255165,987654213,9,8,7,6,5,4,2,1,3,0,0,0,0,1,1,1,0,1
255166,987654231,9,8,7,6,5,4,2,3,1,0,0,0,0,1,1,1,0,1
255167,987654300,9,8,7,6,5,4,3,1,2,0,0,1,0,0,1,1,0,1

In [ ]:
def to_string(val):
    val = str(val)
    return val

def to_integer(val):
    val = int(val)
    return val

In [ ]:
move_data["Sequence"] = move_data["Sequence"].map(to_string)
move_data["Move6"] = move_data["Sequence"].str[5]
move_data["Move7"] = move_data["Sequence"].str[6]
move_data["Move8"] = move_data["Sequence"].str[7]
move_data["Move9"] = move_data["Sequence"].str[8]
move_data["Sequence"] = move_data["Sequence"].map(to_integer)
move_data["Move6"] = move_data["Move6"].map(to_integer)
move_data["Move7"] = move_data["Move7"].map(to_integer)
move_data["Move8"] = move_data["Move8"].map(to_integer)
move_data["Move9"] = move_data["Move9"].map(to_integer)